{{#if success_msg}}
    <ul class="bottom-sheet">
        <li>{{success_msg}}</li>
        <li>
            <a
                href="javascript:void(0);"
                class="btn-close-bottom-sheet"
                onclick="closeBottomSheet()"
            >close</a>
        </li>
    </ul>
{{/if}}

{{#if error_msg}}
    <ul class="bottom-sheet">
        <li>{{error_msg}}</li>
        <li>
            <a
                href="javascript:void(0);"
                class="btn-close-bottom-sheet"
                onclick="closeBottomSheet()"
            >close</a>
        </li>
    </ul>
{{/if}}

<script>
    setTimeout(() => closeBottomSheet(), 1000);
    let closeBottomSheet = () => {
        const bottom_sheet = document.querySelectorAll('.bottom-sheet');
        if (bottom_sheet) {
            bottom_sheet.forEach(item => {
                item.style.display = 'none';
            });
        };
    }
</script>