<form action="/notes/new-note" method="POST">
    <input type="text" name="title" placeholder="title" /><br />
    <textarea name="description" placeholder="description"></textarea><br />
    <button>SAVE</button>
</form>