<h1>Sign In</h1>
<form action="/users/signin" method="POST">
    <input type="email" name="email" placeholder="email" /><br />
    <input type="password" name="password" placeholder="password" /><br />
    <button>Sign In</button>
</form>